$brand-primary:        #337EA9;

$border-radius:          0px;
$border-radius-lg:       0px;
$border-radius-sm:       0px;

@import "../../node_modules/bootstrap/scss/bootstrap";

#wrapper-static-bar {
  margin-top: 65px;
  margin-bottom: 65px;
}